/*
 * Template from @TerranceN https://github.com/TerranceN/TNiechciol.ca/
 */

html body * {
    max-height: 999999px;
}

svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: grey;
}

.resume_content * {
    overflow: visible !important;
}

.resume_content {
    position: relative;
    left: 50%;
    margin-left: -450px;
    width: 940px;
    padding:5px;
    margin-top: 20px;
}

.resume_content * {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #444 !important;
    font-size: 16px;
}

.resume_content a {
    text-decoration:underline;
    color: #F00 !important;
}

.resume_content #resume {
    width: 900px;
}

.resume_content #header_relative {
    position:relative;
}

.resume_content #header {
    margin-left: 5px;
}

.resume_content #resume_body {
    padding-top: 10px;
}

.resume_content h1, .resume_content h1 * {
    padding:0;
    margin:0;
    font-size: 72px;
    width: 700px;
    display: inline-block
}

.resume_content .contact_info {
    margin-right: 2px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    width: 220px;
}

.resume_content .contact_info > div {
    margin-bottom: -2px;
}

.resume_content .contact_info a {
    font-size: 14px;
}

.resume_content h2 {
    font-size: 32px;
    margin-left: 10px !important;
    padding-left: 0 !important;
    position: relative;
    padding-bottom: 0 !important;
}

.resume_content h2, .resume_content h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.resume_content h3 {
    font-size: 24px;
}

.resume_content .section .section_content {
    margin-left: 10px;
}

.resume_content .section ul {
    padding-left: 20px;
    margin-top:0;
    margin-bottom:0;
    margin-left: 10px;
}

.resume_content .section ul li > span {
    position: relative;
    left: -8px;
}

.resume_content .subsection {
    position:relative;
    padding: 3px 0px 5px 0px;
    border-radius: 3px;
    display: inline-block;
}

.resume_content .subsection .inner_content {
    width: 700px;
    display: inline-block;
    margin-left: 4px;
}

.resume_content .subsection .right_info {
    float: right;
    text-align: left;
    margin-top: -25px;
    margin-bottom: 15px;
    display: inline-block;
    width: 220px;
}

.resume_content .subsection .right_info * {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.resume_content h1, .resume_content h2, .resume_content h3 {
    font-family: 'Oswald', sans-serif !important;

    /* hack that fixes a rendering bug with wkhtmltopdf */
    padding: 5px;
    margin: -5px;
}

.resume_content p {
    margin: 0;
}

.resume_content .subsection_header > * {
    display: inline-block;
    margin-left: 10px;
}

.resume_content .header_info {
    margin-left: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-top: 13px;
}

.subsection + .subsection:before {
    content: "";
    position: absolute;
    border-top: 1px solid #EEE;
    top: 0;
    width: 100%;
    margin-top: 5px;
}

.subsection + .subsection .subsection_header {
    margin-top: 10px;
}

.section {
    overflow: hidden !important;
}

.section h2:after {
    content: "";
    position: absolute;
    bottom: 18px;
    margin-left: 10px;
    width: 100%;
    border-top: 2px solid #F66;
}

.inner_content li, .right_info div {
    line-height: 22px;
}

.right_info > div {
    height: 22px;
}

.resume_content .subsection .right_info img {
    margin-bottom: -3px;
}

#education span {
    margin-left: 15px;
    margin-top: 5px;
}
